//- content-page.php
	Displays header site branding

.site-branding
	p.site-title
		a(href="home.html" rel="home" tabindex="1" class="unstyled")
			|Site Branding
	p.site-description
		|Site Description
