#primary.content-area
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title
					a(href="#")|Article Header
			.post-thumbnail.gallery
				img(data-src="assets/images/thumbs/image-2.jpg" class="" alt="" width="" height="")
				pre(class="brush: css")
					|.foo{
					|	color:red;
					|	display:block;
					|}
			#app
				button(v-if="!loggedIn" v-on:click="logIn")|Login
				button(v-else @click="logOut")|Log Out
				|{{msg}}
				a(v-bind:href="url")|Link 
				form
					|Name:
					input(type="text" v-bind:value="name")
				div(v-for="interest in interests")
					p(v-if="selectedInterests > 0" v-model="selectedInterests" v-bind:value="interest")|{{interest}}
			.entry-content
				include ../inc/_#typography.pug
		include _#comments.pug
	include _#sidebar-content-bottom.pug