#primary.content-area
	main#main.site-main(role='main')
		article#post-000.post-000.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title
					a(href="#")|Article Header
			.post-thumbnail.gallery
				img(data-src="assets/images/thumbs/image-1.jpg" class="" alt="" width="" height="")
			.entry-content
				include ../inc/_#typography.pug
		include _#comments.pug
	include _#sidebar-content-bottom.pug