//- comments.php
//- The template for displaying comments
//- This is the template that displays the area of the page that contains both the current comments
//- and the comment form.

#comments.comments-area
	#respond.comments-respond
	h2#reply-title.comment-reply-title|Leave a Reply
	p|TODO