/* ==========================================================================
THIS FILE DEFINES BOX MODEL PROPERTIES: WIDTH, HEIGHT, MARGIN, PADDING
.foo {
  lost-column: 1/3 4 50px;
  padding: $lost-gutter-local; // 50px
  margin-top: $lost-gutter; // 30px default gutter
}
========================================================================== */	

@lost gutter 2em;

body{
	margin:							0;
	padding:						0;
	&:not(.custom-background-image)::before,
	&:not(.custom-background-image)::after{
		height: 0;
	}
}

img{
	max-width: 100%;
	height: auto;
}

video{
	width: 							100%;
}

pre{
	padding:						$lost-gutter;
}

code{
	margin:							0;
	padding:						 $lost-gutter * 0.5;
}