/* ==========================================================================
Map(s):	colors($palette)
THIS FILE SHOULD CONTAIN THE FOLLOWING RULES
========================================================================== */

/*	
	.bar{
		color:
		background-color:
		layout properties:		position,float,clear,display
		misc:					cursor, overflow, z-index etct
		-ms-overflow-style
		-webkit-overflow-scrolling
		transition		
		opacity
		background-attachment
		background-image
		background-position
		background-repeat
		background-size

	}
*/

*, *::after, *::before {
	box-sizing:						border-box;
}

// MSIE: Required for IEMobile.
@-ms-viewport {
	width:							device-width;
}

::selection {//TODO
}

// MSIE: Prevents scrollbar from overlapping content.
body {
	-ms-overflow-style:				scrollbar;
	-webkit-overflow-scrolling:		touch;
	transition: 					all .3s ease-in;
	&.is-loading {
		*, *:before, *:after {
			animation:				none !important;
			transition: 			none !important;
		}
	}
	&.is-loading{
		.hero{
			&::after {
				opacity: 				1;
			}
			h1,p,a {//WONK
				transform:				scale(0.95);
				opacity: 				0;

				&:before, &:after {
					width: 				0;
				}
			}
		}
	}
}

/* ==========================================================================
BACKGROUND COLOR
========================================================================== */

body{
	background-color: 				_palette(activetheme,color-0);
}

body.custom-background,
.site-header,
.site-content,
.site-footer {
	background-color: 				_palette(activetheme,color-1);
}


.main-navigation ul ul li {
	@include MQ(MW){
		background-color: 			_palette(activetheme,color-1);
	}
}

hr{
	background-color: 				_palette(activetheme,color-3);
}

code,pre{
	background-color: 				transparentize(_palette(activetheme,color-4),0.2);
}


.pagination:before,
.pagination:after,
.pagination .prev,
.pagination .next,
.page-links a {
	background-color: 				_palette(activetheme,color-2);
}



/* ==========================================================================
PRIMARY TEXT COLOR
========================================================================== */

body,
blockquote cite,
blockquote small,
.page-links > .page-links-title,
.comment-author{
	color: 							_palette(activetheme,color-4);
	@include headings {
		color: 						_palette(activetheme,color-3);
	}
}


/* ==========================================================================
SECONDARY TEXT COLOR
========================================================================== */

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */

code,
pre,
mark,
ins,
cite{
	color: 							_palette(activetheme,color-1);
}

body:not(.search-results) .entry-summary,
blockquote,
.post-password-form label,
.post-navigation .meta-nav,
.image-navigation,
.comment-navigation,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.site-description,
.author-bio,
.entry-footer,
.sticky-post,
.taxonomy-description,
.entry-caption,
.comment-metadata,
.pingback .edit-link,
.pingback .comment-edit-link,
.comment-form label,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags,
.site-info,
.wp-caption .wp-caption-text,
.gallery-caption,
.widecolumn label,
.widecolumn .mu_register label {
	color: 							_palette(activetheme,color-3);
}



/* ==========================================================================
BORDER COLOR
========================================================================== */

blockquote,
abbr,
acronym,
// .menu-toggle.toggled-on,
// .menu-toggle.toggled-on:hover,
// .menu-toggle.toggled-on:focus,
.post-navigation,
.post-navigation div + div,
.pagination,
.widget,
.page-header,
.page-links a,
.comments-title,
.comment-reply-title,
// .main-navigation li,
// .main-navigation .primary-menu,
// .menu-toggle,
.dropdown-toggle:after,
.social-navigation a,
.image-navigation,
.comment-navigation,
.tagcloud a,
.entry-content,
.entry-summary,
.page-links a,
.page-links > span,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-reply-link,
.no-comments,
.widecolumn .mu_register .mu_alert {
	border-color:					_palette(activetheme,color-3); /* Fallback for IE7 and IE8 */
}

code,pre{
	border-color: 					_palette(activetheme,color-5);
}


@include MQ(MW){
	.main-navigation ul ul,
	.main-navigation ul ul li {
		border-color: 				_palette(activetheme,color-2);
	}

	.main-navigation ul ul:before { /*Sub Menu Triangle*/
		border-top-color: 			_palette(activetheme,color-4);
		border-bottom-color: 		_palette(activetheme,color-4);
	}

	.main-navigation ul ul:after {
		border-top-color: 			_palette(activetheme,color-1);
		border-bottom-color: 		_palette(activetheme,color-1);
	}
}


body.custom-background {
	background-attachment: 			scroll;
	background-image: 				url("TODO");
	background-position: 			left top;
	background-repeat: 				no-repeat;
	background-size: 				contain;
}

.menu-toggle:hover, .menu-toggle:focus{
	border-color:			_palette(activetheme, color-2)
}

/* ==========================================================================
IMAGES
========================================================================== */	
img{
	// box-shadow:						_misc(box-shadow);
}


figure{
	box-shadow:						_misc(box-shadow);
}

code{
	border-right: 					_border(border);
}

pre{
	text-shadow:					_font(text-shadow);
	border-right: 					_border(border);
	@include 						border-radius(2px);

}

.post-thumbnail{
	border-bottom: none;
}

.post-thumbnail:hover{
	border-bottom: none;
}

.site-branding{
	.site-title{
		a{
			color: 		_palette(activetheme,color-5)!important;
		}	
		&:before{
			color: 		_palette(activetheme,color-2);
		}
			&:hover{
				&:before{
					color: 		_palette(activetheme,color-5);
				}
			}
		}
	}


.bridge{
	background: rgba(0, 0, 0, 0) linear-gradient(79deg, rgb(149, 178, 184) 0%, rgb(104, 151, 171) 40%, rgb(79, 109, 135) 100%) repeat scroll 0 0;
	color:_palette(activetheme,color-0);
	@include headings {
		color:_palette(activetheme,color-0);
		&::after{
			background: 				_palette(activetheme,color-0) none repeat scroll 0 0!important;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

.bridge-alt{
	background-color: darken(_palette(activetheme,color-1),5%);
	color:_palette(activetheme,color-4);
	@include headings {
		color:_palette(activetheme,color-4);
		&::after{
			background: 				_palette(activetheme,color-4) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

.bridge-standout{
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #f66b00, #ff9401) repeat scroll 0 0;
	color:_palette(activetheme,color-1);
	@include headings {
		color:_palette(activetheme,color-1);
		&::after{
			background: 				_palette(activetheme,color-1) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

#colophon{
	// background: linear-gradient(-89deg, #ea785a 0%, #ee8768 30%, #ee9f7a 70%);
	background-color: 					 _palette(activetheme,color-0);;
	height:100%;
	@include headings {
		color:							_palette(activetheme,color-1);
		&::after{
			background: 				_palette(activetheme,color-1) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
	p{
		color:							_palette(activetheme,color-1);
	}
}

