/* ==========================================================================
Map(s):	colors($palette)
THIS FILE SHOULD CONTAIN THE FOLLOWING RULES
========================================================================== */

/*	
	.foo{
		color:
		background-color:
		layout properties:		position,float,clear,display
		misc:					cursor, overflow, z-index etct
		-ms-overflow-style
		-webkit-overflow-scrolling
		transition		
		opacity
		background-attachment
		background-image
		background-position
		background-repeat
		background-size

	}
*/

*, *::after, *::before {
	box-sizing:						border-box;
}

// MSIE: Required for IEMobile.
@-ms-viewport {
	width:							device-width;
}

::selection {
	background-color:#FDF9C0;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
	-ms-overflow-style:				scrollbar;
	-webkit-overflow-scrolling:		touch;
	transition: 					all .3s ease-in;
	&.is-loading {
		*, *:before, *:after {
			animation:				none !important;
			transition: 			none !important;
		}
	}
	&.is-loading{
		.hero{
			&::after {
				opacity: 				1;
			}
			h1,p,a {//WONK
				transform:				scale(0.95);
				opacity: 				0;

				&:before, &:after {
					width: 				0;
				}
			}
		}
	}
}

/* ==========================================================================
BACKGROUND COLOR
========================================================================== */

body{
	background-color: 				_palette(activetheme,color-0);
}

body.custom-background,
.site-header,
.site-content,
.site-footer {
	background-color: 				lighten(_palette(activetheme,color-0),10%);
}

.site-content{
	background-color: 				darken(_palette(activetheme,color-0),2%);
}

.intro{
	background-color: 				_palette(activetheme,color-0);
}

.main-navigation ul ul li {
	@include MQ(MW){
		background-color: 			_palette(activetheme,color-1);
	}
}

hr{
	background-color: 				_palette(activetheme,color-3);
}

code,pre{
	background-color: 				transparentize(_palette(activetheme,color-4),0.2);
}

.pagination:before,
.pagination:after,
.pagination .prev,
.pagination .next,
.page-links a {
	background-color: 				_palette(activetheme,color-2);
}

.bridge{
	background: 					rgba(0, 0, 0, 0) linear-gradient(79deg, rgb(149, 178, 184) 0%, rgb(104, 151, 171) 40%, rgb(79, 109, 135) 100%) repeat scroll 0 0;
}
.bridge-alt{
	background-color: 				darken(_palette(activetheme,color-1),5%);
}

.bridge-standout{
	background: 					rgba(0, 0, 0, 0) linear-gradient(to right, #f66b00, #ff9401) repeat scroll 0 0;
}


#colophon{
	background-color: 				_palette(activetheme,color-7);
}


.headroom{
	background-color: 				transparentize(_palette(activetheme,color-0),1);
}

.headroom--not-top{
	background-color: 				_palette(activetheme,color-0);
}

/* ==========================================================================
PRIMARY TEXT COLOR
========================================================================== */

p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
blockquote cite,
blockquote small,
.page-links > .page-links-title,
.comment-author{
	color: 							_palette(activetheme,color-4);
}
@include headings {
	color: 							_palette(activetheme,color-3);
}

#bridge-standout{
	h1 {
		color: 						_palette(activetheme,color-0);
	}
}

#colophon{
	@include headings {
		color: 						darken(_palette(activetheme,color-0),50%);
	}
	p{
		color:_palette(activetheme,color-0);
	}
}


/* ==========================================================================
SECONDARY TEXT COLOR
========================================================================== */

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */

code,
pre,
mark,
ins,
cite{
	color: 							_palette(activetheme,color-1);
}

body:not(.search-results) .entry-summary,
blockquote,
.post-password-form label,
.post-navigation .meta-nav,
.image-navigation,
.comment-navigation,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.site-description,
.author-bio,
.entry-footer,
.sticky-post,
.taxonomy-description,
.entry-caption,
.comment-metadata,
.pingback .edit-link,
.pingback .comment-edit-link,
.comment-form label,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags,
.site-info,
.wp-caption .wp-caption-text,
.gallery-caption,
.widecolumn label,
.widecolumn .mu_register label {
	color: 							_palette(activetheme,color-3);
}

/* ==========================================================================
LINK COLORS
========================================================================== */
a{
	color: 					_palette(activetheme, color-2);
	&:hover{
		color: 						_palette(activetheme, color-5);
		border-color: 				_palette(activetheme, color-5);
	}
	&:focus{
		color: 						_palette(activetheme,color-3);
	}
	&:active{					
		color: 						darken(_palette(activetheme,color-5),20%);
		border-color: 				_palette(activetheme, color-5);
	}
}

.menu-toggle:hover,
.menu-toggle:focus,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.social-navigation a:hover:before,
.social-navigation a:focus:before,
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,
.tagcloud a:hover,
.tagcloud a:focus,
.site-branding .site-title a:hover,
.site-branding .site-title a:focus,
.entry-title a:hover,
.entry-title a:focus,
.entry-footer a:hover,
.entry-footer a:focus,
.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus,
.comment-reply-link,
.comment-reply-link:hover,
.comment-reply-link:focus,
.required,
.site-info a:hover,
.site-info a:focus,
.social-navigation a,
.post-navigation a,
.pagination a:hover,
.pagination a:focus,
.widget-title a,
.site-branding .site-title a,
.entry-title a {
	color: 							_palette(activetheme,color-2);
}

.site-branding a p{
	color: 							_palette(activetheme,color-5);
}

mark,
ins,
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus,
.widget_calendar tbody a,
.page-links a:hover,
.page-links a:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.menu-toggle:hover,
.menu-toggle:focus {
	color: 							_palette(activetheme,color-1);
	
}



.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,
.entry-footer a:hover,
.entry-footer a:focus,
a.post-thumbnail:hover,
a.post-thumbnail:focus {
	color: 							_palette(activetheme,color-5);
	border-bottom: 					1px solid _palette(activetheme,color-5);
}

.comment-metadata a{
	color: 							_palette(activetheme,color-5);
	border-bottom: 					1px dashed _palette(activetheme,color-5);
	&:hover{
		color: 						_palette(activetheme,color-5);
		border-bottom: 				1px solid _palette(activetheme,color-5);
	}
}

.pagination a:hover,
.pagination a:focus{
	color: 							_palette(activetheme,color-5);
	border-bottom: 					1px solid _palette(activetheme,color-2);
}

.nav-previous a,
.nav-next a{
	border-bottom: 					0px dashed _palette(activetheme,color-2);
}




.site-branding .site-title a:hover,
.site-branding .site-title a:focus{
	color: 							_palette(activetheme,color-5);
	border-bottom: 					0px solid _palette(activetheme,color-2);
}


.entry-content a, 
.entry-summary a, 
.taxonomy-description a, 
.logged-in-as a, 
.comment-content a, 
.pingback .comment-body > a, 
.textwidget a, 
.entry-footer a:hover, 
.site-info a:hover{
	box-shadow: 					none;
}

.comment-metadata a,
.entry-footer a,
.site-info a,
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	// background-color: 				_palette(activetheme,color-3);
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: 							_palette(activetheme,color-3);
	@include headings {
		color: 						_palette(activetheme,color-3);
	}
}

/* ==========================================================================
BORDER COLOR
========================================================================== */

blockquote,
abbr,
acronym,
// .menu-toggle.toggled-on,
// .menu-toggle.toggled-on:hover,
// .menu-toggle.toggled-on:focus,
.post-navigation,
.post-navigation div + div,
.pagination,
.widget,
.page-header,
.page-links a,
.comments-title,
.comment-reply-title,
// .main-navigation li,
// .main-navigation .primary-menu,
// .menu-toggle,
.dropdown-toggle:after,
.social-navigation a,
.image-navigation,
.comment-navigation,
.tagcloud a,
.entry-content,
.entry-summary,
.page-links a,
.page-links > span,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-reply-link,
.no-comments,
.widecolumn .mu_register .mu_alert {
	border-color:					_palette(activetheme,color-2); /* Fallback for IE7 and IE8 */
}

code,pre{
	border-color: 					_palette(activetheme,color-5);
}

.main-navigation {
	.primary-menu{
		border-bottom:0;
	}
	li{
		border-top: 1px solid lighten(_palette(activetheme,color-4),40%);
	}
}

@include MQ(MW){
	.main-navigation ul ul,
	.main-navigation ul ul li {
		border-color: 				_palette(activetheme,color-2);
		background-color: 			_palette(activetheme,color-0);
	}

	.main-navigation ul ul:before { /*Sub Menu Triangle*/
		border-top-color: 			_palette(activetheme,color-2);
		border-bottom-color: 		_palette(activetheme,color-2);
		border-width:				0 10px 12px;
	}

	.main-navigation ul ul:after {
		border-top-color: 			_palette(activetheme,color-0);
		border-bottom-color: 		_palette(activetheme,color-0);
	}
}


body.custom-background {
	background-attachment: 			scroll;
	background-image: 				url("TODO");
	background-position: 			left top;
	background-repeat: 				no-repeat;
	background-size: 				contain;
}

.menu-toggle:hover, .menu-toggle:focus{
	border-color:			_palette(activetheme, color-2)
}

/* ==========================================================================
ACCENT COLORS (CUSTOM HEADLINES, FACNY TYPOGRAPHY ETC...)
========================================================================== */

@include headings {
		&::after{
			background: 				_palette(activetheme,color-2) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}

/* ==========================================================================
IMAGES
========================================================================== */	
img{
	// box-shadow:						_misc(box-shadow);
}


figure{
	box-shadow:						_misc(box-shadow);
}

code{
	border-right: 					_border(border);
}

pre{
	text-shadow:					_font(text-shadow);
	border-right: 					_border(border);
	@include 						border-radius(2px);

}

.post-thumbnail{
	border-bottom: none;
}

.post-thumbnail:hover{
	border-bottom: none;
}

.site-branding{
	.site-title{
		a{
			color: 		_palette(activetheme,color-5);
		}	
		&:before{
			color: 		_palette(activetheme,color-2);
		}
			&:hover{
				&:before{
					color: 		_palette(activetheme,color-5);
				}
			}
		}
	}


.bridge{
	color:_palette(activetheme,color-0);
	@include headings {
		&::after{
			background: 				_palette(activetheme,color-0) none repeat scroll 0 0!important;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

.bridge-alt{
	color:_palette(activetheme,color-4);
	@include headings {
		&::after{
			background: 				_palette(activetheme,color-4) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

.bridge-standout{
	color:_palette(activetheme,color-0);
	p{
		color:darken(_palette(activetheme,color-0),10%)
	}
	@include headings {
		color:_palette(activetheme,color-0);
		&::after{
			background: 				_palette(activetheme,color-0) none repeat scroll 0 0;
			content: " ";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 30px;
		}
	}
}

#colophon{
	height:100%;
	@include headings {
		&::after{
			background: 				_palette(activetheme,color-2) none repeat scroll 0 0;
		}
	}
}

