#intro.foo(data-respond)
	div.half
		h1.mega-header|About Us
		p|Since 2004, Ideal Positions has provided first-page placement on the largest search engines in the world. Over time, we have developed a diverse portfolio of website marketing and development services to meet any organization’s needs.
		p|You never have to worry about fluctuating costs, micro-managing online marketing campaigns, or relearning the major advertising platforms every other week. 
		a.button.button-action(href='about.html')
			|Start Your Campaign Today
	div.half
		h1.mega-header|Contact Us
		.contain
			div.half
				p|Email: sales@idealpositions.com
				p|Tel: 866-609-3483
				p
					a(href="https://twitter.com/idealpositions" target ="_blank")
						|Twitter
				p
					a(href="https://plus.google.com/+Idealpositions" target ="_blank")
						|Google +
				p
					a(href="https://www.facebook.com/idealpositions" target ="_blank")
						|Facebook
			div.half
				h4|We are Premier Google and Bing Partners
				div
					img(data-src="assets/images/ip/logos/google-partner.png")
				div
					img(data-src="assets/images/ip/logos/bing-teal.png" width="300")