#primary.content-area-full
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|What We Do
			.entry-content
				.waffle
					section
						.card(data-my-order="0")
							a(href="sem.html" class="animsition-link")
								.card__media
									figure.imghvr-fade(style="background-color:#000000;")
										img(data-src="assets/images/ip/categories/analytics.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|Fixed Rate SEM
											p|Improving Your Visibility Online
							.card__copy
								h3|Fixed-Rate SEM
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="sem.html")|Learn More
					section
						.card(data-my-order="0")
							a(href="llo.html" class="animsition-link")
								.card__media
									figure.imghvr-fade
										img(data-src="assets/images/ip/categories/search.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|LLO
											p|Boost Your Visibility in Google+ Local, Yahoo Local, and More!
							.card__copy
								h3|Local Listings Optimization
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="llo.html")|Learn More
					section
						.card(data-my-order="0")
							a(href="web-dev.html" class="animsition-link")
								.card__media
									figure.imghvr-fade
										img(data-src="assets/images/ip/categories/code.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|Web Development
											p|We also like to code
							.card__copy
								h3|Web Development
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="web-dev.html")|Learn More
			header.entry-header
				h1.entry-title|About Us
			.entry-content
				.waffle
					section
						.card(data-my-order="0" class="animsition-link")
							a(href="staff.html")
								.card__media
									figure.imghvr-fade
										img(data-src="assets/images/ip/staff/staff.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|Staff Directory
											p|View the faces behing the scenes
							.card__copy
								h3|Staff Directory
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="staff.html")|Learn More
					section
						.card(data-my-order="0" class="animsition-link")
							a(href="blog.html")
								.card__media
									figure.imghvr-fade
										img(data-src="assets/images/ip/categories/typing.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|Company Blog
											p|We write sometimes
							.card__copy
								h3|Company Blog
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="about.html")|Learn More
					section
						.card(data-my-order="0" class="animsition-link")
							a(href="testimonials.html")
								.card__media
									figure.imghvr-fade
										img(data-src="assets/images/ip/categories/testimonials.jpg" class="maven" height="" title="An Image")
										figcaption
											h2|Testimonials
											p|What peole have said about us
							.card__copy
								h3|Testimonials
								p|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								a(href="about.html")|Learn More