#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|About Josh
			.post-thumbnail
				img(src="assets/images/ip/staff/josh-babbitt.jpg" class="maven" alt="" width="" height="")
			.entry-content
				h2|About Josh
				
				h5|Tell us about the company you work for – Ideal Positions.
				p|Ideal Positions is a rarity. We are never too busy to speak with our clients and we all work together as a team to meet each client’s specific needs. In my opinion, we have a unique atmosphere combining both a relaxed yet professional business setting. I feel it is because of this unique combination that we are encouraged to grow with the company and expand our knowledge and experience. This helps us better utilize all of the available online advertising venues, including but not limited to, SEM, SEO, Mobile advertising, website development and graphic design at affordable prices.

				h5|How do you help create excellent customer service for clients?
				p|Each client’s account is assigned to a specific Account Manager. As the SEM Department Manager, I ensure that each of our Account Managers is familiar with ALL of our accounts. I feel that this eliminates any lapse in communication between Ideal Positions and our clients. This ensures that you will never be told that your Account Manager is “out for the day”, and no one is available to help you. The motto for the SEM department is, “We don’t leave until the work is done”, even if this means working late to go that extra mile for our clients.

				h5|What motivates you at work?
				p|I’ve been called a “workaholic”; however, I don’t feel that is an accurate description of my work ethic. I enjoy my down time as much as anyone! I think a better description of what motivates me is the fact that I take great pride in doing my job well and to the best of my ability.

				h5|Why do you enjoy working at Ideal Positions?
				p|For the first time in my life I have a 7 minute commute to the office! But seriously, coming into the office everyday feels like being with extended family and friends. Not only do we have a great rapport and camaraderie at the office, we also enjoy socializing together. I can truthfully say that I get to work with friends.

				h5|Tell us about your current or past passions outside of work?
				p|Spending time with my family is most important to me. My son and I enjoy outdoor hobbies such as disc golf, biking and basketball. Although we enjoy the outdoors, one of our “desert island” items would have to be our Xbox. When I’m not doing any of the above you’ll find me relaxing with a good book.

				h5|State a “pie-in-the-sky” dream/goal/hope of yours?
				p|I’d like to be able to par (or better!) every hole I play in disc golf!
				
		include ../inc/_#comments.pug
	aside#content-bottom-widgets.content-bottom-widgets(role='complementary')
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 1
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 2
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.