#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|Web Development
			.post-thumbnail
				img(src="assets/images/ip/categories/code.jpg" class="maven" alt="" width="" height="")
			.entry-content
				p|Website development is quickly becoming one of the most popular services Ideal Positions offers. Want a marketing campaign for a website concept that hasn’t been built yet? No problem, we can quickly create a unique website optimized for the content you specify! Every project completed by our Web Development Team is done by an in-house team working closely with our other Search Engine Marketing and advertising professionals. We don’t use mass-produced templates developed by third parties, and we never outsource any projects, large or small.
				p|Working with Ideal Positions on a web development project, you’ll get one-on-one access to the professionals that are doing the work personally. You wont have to worry about messages getting misrepresented or miscommunicated through a low-level customer support agent that doesn’t understand the work being produced.
				p|With web development, communication is a key factor. When you pay good money for a professional developer to build you a site, alter content on your existing site, or implement advanced lead attribution systems, you deserve to have direct access to the development staff that will actually be producing the work! Sadly, this is rarely the case with most web development firms. At Ideal Positions, we strive to set our company apart from the crowd in everything that we do, and our clients’ experiences in working with our Web Development Team should be no different.
		include ../inc/_#comments.pug
	aside#content-bottom-widgets.content-bottom-widgets(role='complementary')
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 1
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 2
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.