#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|Fixed Rate Search Engine Management
			.post-thumbnail
				img(src="assets/images/ip/categories/analytics.jpg" class="maven" alt="" width="" height="")
			.entry-content
				p|With Ideal Positions’ Fixed-Rate Search Engine Marketing, you never have to worry about fluctuating costs, micro-managing online marketing campaigns, or relearning the major advertising platforms every other week. You pay one fixed monthly rate that is based on your organization’s individual needs, and Ideal Positions takes care of the rest! With decades of combined experience, our Google AdWords Certified and bing Ads Accredited Search Engine Marketing (SEM) Team Members will work tirelessly to ensure your business receives the best Search Engine Marketing available today.

				h2|No Cookie-Cutter Solutions, No Magic Tricks
				p|Unlike much of the competition, Ideal Positions refuses to use mindless copy-and-paste tactics to market your website to your potential customers. There are no “silver,” “gold,” or “platinum” packages to purchase because our experienced Search Engine Marketing Professionals know that there is no single, perfect solution that will work for every website. We don’t use automated software to manage your account. There are no “proprietary algorithms” or other fancy applications in use here. No work is outsourced to a third party.

				h2|At Ideal Positions, we believe in hard work, data-driven account optimization techniques, and real, human insight.

				p|Call Ideal Positions today at 866-609-3483 and let us know what we can do to improve your business’ online visibility. The Search Engine Marketing Professional you speak with will take your needs to the team, and we’ll generate a custom quote to drive high-quality, relevant traffic to your website from the largest search engines in the world.

				p|What Can Ideal Positions’ fixed-Rate Search Engine Marketing Provide for Your Business?

				p|One Fixed Monthly Fee to Fit Any Budget

				p|Industry-Leading Professional Account Management

				p|One-On-One Access to Google AdWords Certified and bing Ads Accredited Professionals

				p|Expert Technical and Customer Support from Real, In-House Staff

				p|No Fluctuating Pay Per Click Charges

				p|Account Management Provided by a Dedicated Team – No Getting “Passed Around” Each Time You Contact Us

				p|Peace of Mind!

				h2|How Does it Work?

				p|The first step is a quote. Ideal Positions’ Search Engine Marketing Consultants will work with you to define your organization’s unique needs. Based on those needs, our team will create a marketing plan that Ideal Positions will implement and manage for a fixed monthly fee.

				p|The next step drives high-quality, relevant traffic to your website. Once you sign up with Ideal Positions, you pay a fixed fee for each 30 days of service. Ideal Positions’ SEM Team Members will then implement the marketing plan associated with your quote, and—using platforms such as Google AdWords, bing Ads, and others—they will place your website on the very first page of the highest-trafficked, largest, and most popular search engines in the world.

				p|The last step is actually an ongoing process of account optimization, data analysis, and application of current and new industry best practices. You see, Search Engine Marketing is a moving target, and a campaign that is left stagnant will not produce the same results tomorrow that it did just yesterday. This is the most common mistake made by many Search Engine Marketing Professionals: the mistake of complacency. Many other providers work on a reactive basis, providing a “set it and forget it” approach to Search Engine Marketing that may successfully reduce overhead for the agency, but doesn’t continue to provide tangible benefits to the advertiser over time. Ideal Positions works purely on a proactive basis, and our staff will continue to refine the strategies used to drive traffic to your website so that you can always be certain you’re receiving the most cutting-edge and effective marketing available today.

		include ../inc/_#comments.pug
	aside#content-bottom-widgets.content-bottom-widgets(role='complementary')
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 1
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 2
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.