#primary
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			.constrain
				header.entry-header
					h1.entry-title|Fixed Rate Search Engine Management
				.entry-content
					.entry-content
						.feature
							section
								h2|Work directly with the best professionals in the industry. Adwords Specialist!
								p|Our clients deserve the best. Your account will be assigned and managed by a professional campaign strategist.
								p|Even better all of our campaign strategists are Google Adwords Specialists!
								ul
									li|Protection from irrelevant and fraudulent clicks
									li|Cost-per-click and ROI
									li|Focused pinpoint advertising 
									li|Fast response times for changes and updates

							section
								img(src="assets/images/ip/logos/googlespecialistchallenge2016_banner.png" class="maven" alt="" width="" height="")
			.bridge-alt
				.constrain
					.feature.entry-content
							section
									img(src="assets/images/ip/icons/exclusivity-blue.png" class="" alt="" width="300" height="")
							section
								h2|Exclusivity! 
								p|Ideal Positions only works with one type of business per market! We are dedicated to growing your business not your competitions. 
								p|Other companies use set it and forget it tactics, work with competing businesses and drive up costs while decreasing potential results.
			.constrain
				.feature.entry-content
					section
						h2|Fly Free With No Long Term Contracts!
						ul
							li|Fixed monthly fee to fit any budget!
							li|No need to lock you into complicated long term contracts
							li|We are confident you will be impressed with our capabilities and customer service.   
					section
						img(src="assets/images/ip/icons/contract-free-blue.png" class="" alt="" width="300" height="")
			.bridge-alt
				.constrain
					.feature.entry-content
							section
									img(src="assets/images/ip/icons/lead-attribution-blue.png" class="" alt="" width="300" height="")
							section
								h2|Professional lead attribution
								p|We utilize advanced lead attribution software. Ideal Positions reporting dashboard gives you peace of mind with transparency to track ROI.
			.constrain
				.feature.entry-content
						section
							h2|Award Winning Account Management and Retention.
							p|Wisdom is the reward of experience and should be shared
						section
							img(src="assets/images/ip/icons/award-winning-blue.png" class="" alt="" width="300" height="")