#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|Featured Projects
			.entry-content
				.squared
					section.widget.widget_text
						h2.widget-title|Own Santa Barbara
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/ownsantabarbara.jpg" class="kelvin" alt="" width="" height="")
							p|Own Santa Barbara is a projet that was completed in Janurary 2017.
							p|BRANDING + DESIGN + DEVELOPMENT
							a(href="project-details-own.html" id="" class="")| View Details
					section.widget.widget_text
						h2.widget-title|Law
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/law.jpg" class="kelvin" alt="" width="" height="")
							p|Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							p|BRANDING + DESIGN + PROOF OF CONCEPT
							a(href="project-details-law.html" id="" class="")| View Details
					section.widget.widget_text
						h2.widget-title|Hess Tree Services
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/hess.jpg" class="kelvin" alt="" width="" height="")
							p|BRANDING + DESIGN
							a(href="project-details-hess.html" id="" class="")| View Details
					section.widget.widget_text
						h2.widget-title|Capital Water and Fire Restoration Services
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/capital.jpg" class="kelvin" alt="" width="" height="")
							p|Capital Water and Fire Restoration Services is a project that was completed in December of 2016. 
							p|BRANDING + DESIGN
							a(href="project-details-capital.html" id="" class="")| View Details
					section.widget.widget_text
						h2.widget-title|Cunha &amp; Holcomb
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/cunha.jpg" class="kelvin" alt="" width="" height="")
							p|Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							a(href="project-details-cunha.html" id="" class="")| View Details
					section.widget.widget_text
						h2.widget-title|Garden
						.textwidget
							img(data-src="http://images.grault.com/projects/thumbs/garden.jpg" class="kelvin" alt="" width="" height="")
							p|Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							p|BRANDING + DESIGN + PROOF OF CONCEPT
							a(href="project-details-garden.html" id="" class="")| View Details
