#primary.content-area
	main#main.site-main(role='main')
		article.post-701.page.type-page.status-publish.has-post-thumbnail.hentry
			header.entry-header
				h1.entry-title|Local Lisitings Optimization
			.post-thumbnail
				img(src="assets/images/ip/categories/search.jpg" class="maven" alt="" width="" height="")
			.entry-content
				p|At least 20% of web searches include local or geographical keywords such as “Los Angeles” or “Atlanta.”* These individuals are all looking for local businesses like yours, and some of the most common places they look are on local search engines such as Yellowpages.com, MerchantCircle, as well as the local results on Google.com.

				p|In recent years, Google has integrated its social media platform, Google+, into more and more of its core services. A big part of this integration was the rebranding of the old legacy Google Places Listings (a.k.a. the “local listings” on Google) as Google+ Local. These new Google+ Local Listings can be found in mobile apps like Google Maps, and have also become a dominant feature on the first page of search results on Google. Since 2011, Google has made it clear that the continued push for Google+ is a primary focus for the company, and that means having a well-optimized Google+ Local Listing is now more important than ever.

				p|Ideal Positions’ Local Search Engine Optimization (Local SEO) experts have successfully optimized Google+ Local Listings for virtually every type of local business, and we’re confident we can produce results for you.

				h2|Call Ideal Positions today at 866-609-3483 to get a free quote for your business!

				h2|What is Ideal Positions’ Local Listings Optimization?

				p|Ideal Positions’ Local Listing Optimization involves a series of SEO efforts aimed at increasing the level of activity generated for a business via Google+ Local (previously known as Google Places), Yahoo! Local, bing Local, and other Internet Yellow Pages (IYPs), Local Search Engines, and online directories.

				h2|SEO? What’s That?

				p|SEO (Search Engine Optimization) is a general term that refers to any action, technique, or initiative that’s intended to increase a website or webpage’s organic rankings with the major search engines. To be clear: Search Engine Optimization does not involve paid advertisements. SEO is more art than science, and the techniques utilized to achieve success are different for every website. As a result, Ideal Positions cannot guarantee first page rankings in any specific timeframe for our Local Listings Optimization service, and you should in fact be very cautious of any company that is willing to make such a guarantee.

				h2|Who Qualifies for Local Listings Optimization?

				p|Unlike Ideal Positions’ Flat-Rate SEM service, not every business is a good candidate for Local SEO services. In order to qualify for Local Listings Optimization, your organization should:

				p|Be Local. This means having a physical street address that your business is located at that can be published online. No PO Boxes, rented mailboxes, shared suites, virtual offices, or similar services can be used. Businesses that serve clients at their locations (such as painters, plumbers, and locksmiths) still qualify, but need to be willing to publish a street address. Businesses that operate nationwide (or worldwide) are not eligible unless they have a unique street address for each market targeted.

				p|Be Available. Local Listings Optimization can be a time-consuming endeavor, both for Ideal Positions SEO experts and for the organization purchasing the service. It’s important that an authorized representative from your business is readily available to assist Ideal Positions staff in a timely manner throughout the duration of the service. This representative will need to have quick access to your businesses mailing address as well as your main phone line.

				p|Be Stable. Any Local SEO service is a long-term solution, not a short-term one. It can take time to see results, and that time varies from listing to listing. If you plan on changing locations, phone numbers, or web domains anytime soon it’s advisable that you hold-off on Local Listings Optimization for the time being. Additionally, organizations that have a change of address, phone number, or web domain on a regular basis would not be a good fit.

				p|To find out if Ideal Positions’ Local Listings Optimization service is right for you, call us today at 866-609-3483 and our Search Engine Marketing Professionals would be happy to run a full assessment of your eligibility.

				i|*Google, Inc – 2011
		include ../inc/_#comments.pug
	aside#content-bottom-widgets.content-bottom-widgets(role='complementary')
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 1
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.widget-area
			section#text-5.widget.widget_text
				h2.widget-title Content Bottom 2
			.textwidget
				p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.