#intro(data-respond)
	div.half
		h2|Josh Babbitt
		p|As Ideal Positions’ Owner and SEM (Search Engine Marketing) Department Manager, Josh is responsible for smooth and timely operations within the SEM Department, and successful coordination of the SEM/Web Development Departments with the Customer Service/Administrative Departments. Besides creating and implementing new departmental policies and procedures, he ensures that all Account Managers are trained and educated in all aspects of Pay-Per-Click Management and Search Engine Marketing. Josh is also often the “go-to” Account Manager for all of the company’s accounts. He is fondly referred to as the “Yoda” of the SEM Department.
	div.half
		h2|Owner and SEM Department Manager
		.contain
			div.half
				p|josh@idealpositions.com
				p
					a(href="https://www.facebook.com/idealpositions" target ="_blank")
						|Facebook
			div.half
				p
					a(href="https://twitter.com/idealpositions" target ="_blank")
						|Twitter
				p
					a(href="https://plus.google.com/+Idealpositions" target ="_blank")
						|Google +
			div.half
				img(src="assets/images/ip/logos/logo_qualified_ind_500.jpg")
			div.half
				img(src="assets/images/ip/logos/bing-teal.png" width="500")