.metro
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug
	article
		include ../inc/_#hero.pug