.entry-header
	h1|Staff
.staff
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/david-finston.jpg" class="maven")
				figcaption
					h2|David Finston
					p|Client Success Consultant
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/heather-walters.jpg" class="maven")
				figcaption
					h2|Heather Walters
					p|SEM Team Member
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/ian-davis.jpg" class="maven")
				figcaption
					h2|Ian Davis
					p|SEM Team Member
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/nick-prozzo.jpg" class="maven")
				figcaption
					h2|Nick Prozzo
					p|Sales Manager
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/brian-murray.jpg" class="maven")
				figcaption
					h2|Brian Murray
					p|Web Developer
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/josh-babbitt.jpg" class="maven")
				figcaption
					h2|Josh Babbitt
					p|Owner and SEM Department Manager
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/mara-grow.jpg" class="maven")
				figcaption
					h2|Mara Grow
					p|Operations and Innovation Director
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/teresa-passen.jpg" class="maven")
				figcaption
					h2|Teresa Passen
					p|Admin
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/david-finston.jpg" class="maven")
				figcaption
					h2|David Finston
					p|Client Success Consultant
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/heather-walters.jpg" class="maven")
				figcaption
					h2|Heather Walters
					p|SEM Team Member
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/ian-davis.jpg" class="maven")
				figcaption
					h2|Ian Davis
					p|SEM Team Member
	section
		a(href="staff-member.html" class="unstyled")
			figure.imghvr-fade
				img(src="assets/images/ip/staff/nick-prozzo.jpg" class="maven")
				figcaption
					h2|Nick Prozzo
					p|Sales Manager