//- site-info.php
	Displays footer site info

.site-info
	.site-title
		div
			p|&copy; Copyright 2006 to Now. Ideal Positions LLC. Designed and Developed in Humboldt County&nbsp;
				img(src="assets/icons/redwoods-white.svg" width="20")