//- page.pug
	The template for displaying all pages

	This is the template that displays all pages by default.
	Please note that this is the WordPress construct of pages
	and that other 'pages' on your WordPress site may use a
	different template.
doctype html
html(lang="en")
	head
		title India: Grid Demo Page
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		include inc/_#meta.pug
		link(rel='stylesheet', href='style.css')
	body.home.page-template-default.page.page-id-00.group-blog
		div#page.site.animsition
			.site-inner(data-respond)
				include _#header-fixed.pug
				main#content.site-content
					.constrain
						h5|g-0
						.g.g-0
							section
						h5|g-1
						.g.g-1
							section
							section
						h5|g-2
						.g.g-2
							section
							section
							section
						h5|g-3
						.g.g-3
							section
							section
							section
							section
						h5|g-4
						.g.g-4
							section
							section
						h5|g-5
						.g.g-5
							section
							section
							section
						h5|g-6
						.g.g-6
							section
							section
						h5|g-7
						.g.g-7
							section
								div
								div
							section
								div
								div
							section
								div
								div
							section
								div
								div
							section
								div
								div
							section
								div
								div
							section
								div
								div
							section
								div
								div
						h5|g-8
						.g.g-8
							section
							section
							section
							section
							section
							section
							section
							section
							section
						h5|g-9
						.g.g-9
							section
							section
							section
						h5|g-10
						.g.g-10
							section
							section
							section
							section
						h5|g-11
						.g.g-11
							section
							section
						h5|g-12
						.g.g-12
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
							section
						h5|g-13
						.g.g-13
							section
							section
							section
							section
						h5|g-14
						.g.g-14
							section
								h1|1
							section
								h1|2
							section
								h1|3
							section
								h1|4
							section
								h1|5
							section
								h1|6
							section
								h1|7
							section
								h1|8
							section
								h1|9
							section
								h1|10
							section
								h1|11
							section
								h1|12
							section
								h1|13
							section
								h1|14
							section
								h1|15

				include _#footer.pug