//- page.pug
	The template for displaying all pages

	This is the template that displays all pages by default.
	Please note that this is the WordPress construct of pages
	and that other 'pages' on your WordPress site may use a
	different template.
doctype html
html(lang="en")
	head
		title India: Grid Demo Page
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		include inc/_#meta.pug
		link(rel='stylesheet', href='style.css')
	body.home.page-template-default.page.page-id-00.group-blog
		div#page.site.animsition
			.site-inner(data-respond)
				include _#header-fixed.pug
				main#content.site-content
					.constrain
						<div class="wrapper">

						<div class="cards">

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						img(src="assets/images/thumbs/image-1.jpg" class="" alt="An Image" width="" height="")
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						<div class=" card [ is-collapsed ] ">
						<div class="card__inner [ js-expander ]">
						<span>Item</span>
						<i class="fa fa-gear"></i>
						</div>
						<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
						</div>
						</div>

						</div>

						</div>
				include _#footer.pug