//- navigation-top.php
	Displays top navigation
	
button#menu-toggle.menu-toggle Menu
#site-header-menu.site-header-menu
	nav#site-navigation.main-navigation(role='navigation', aria-label='Primary Menu')
		.menu-primary-menu-container
			ul#menu-primary-menu.primary-menu
				li#menu-item-19.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-4.current_page_item.menu-item-19
					a(href='#' class="animsition-link") 
						span.title|Page
						span.subtitle|Tagline
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18.current-menu-item.page_item.page-item-4
					a(href='grids.html' class="animsition-link")
						span.title|Grids
						span.subtitle|Example Layouts
				li#menu-item-17.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-17
					a(href='scratch.html' class="animsition-link")
						span.title|Scratch
						span.subtitle|Demos and WIP
					//ul.sub-menu
						li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
							a(href='sem-landing.html' class="animsition-link") SEM
						li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
							a(href='llo.html' class="animsition-link") LLO
						li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
							a(href='web-dev.html' class="animsition-link") Web Dev
				li#menu-item-17.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-17
					a(href='' class="animsition-link")
						span.title|Page
						span.subtitle|Tagline
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='' class="animsition-link")
						span.title|Page
						span.subtitle|Tagline
				li#menu-item-18.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-18
					a(href='/blog.html' class="animsition-link")
						span.title|Page
						span.subtitle|Tagline
				li#menu-item-16.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-16
					a(href='/contact.html' class="animsition-link")
						span.title|Page
						span.subtitle|Tagline
